.review {
    margin: auto;
    padding: 10px;
    width: 100%;
    padding: 5% 10px;
    background: #babfc6;
    text-align: left;
    border: solid 3px gray;
    border-radius: 20px;
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 20px;
}